[Desktop Entry]
Name=Debianisismo installer
GenericName=Installa<br><b>Debianissimo</b>!
Exec=/usr/local/bin/instart
Icon=instart
Type=Application
Categories=Installer;OrdissimoDefault
