[Desktop Entry]
Name=Debianisismo installer
GenericName=Installa<br><b>Debianissimo</b>!
Exec=/usr/share/instart/run-instart
Icon=instart
Type=Application
Categories=Installer;OrdissimoDefault
